<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/actividad"></ion-back-button>
        </ion-buttons>
        <ion-title>Horarios</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list lines="none">
        <ion-list-header color="light">
            <ion-label>Lunes</ion-label>
        </ion-list-header>
        <ion-item>
            <ion-label>09:00hs - 10:00hs</ion-label>
            <ion-badge color="success" slot="end">7/20</ion-badge>
            <ion-button slot="end" color="light" (click)="presentAlertConfirm()">
                <ion-icon name="calendar"></ion-icon>
            </ion-button>
        </ion-item>
        <ion-item>
            <ion-label>12:00hs - 13:00hs</ion-label>
            <ion-badge color="warning" slot="end">18/20</ion-badge>
            <ion-button slot="end" color="light" (click)="presentAlertConfirm()">
                <ion-icon name="calendar"></ion-icon>
            </ion-button>
        </ion-item>
        <ion-item>
            <ion-label>18:00hs - 20:00hs</ion-label>
            <ion-badge color="danger" slot="end">20/20</ion-badge>
            <ion-button slot="end" color="light" (click)="presentAlertConfirm()">
                <ion-icon name="calendar"></ion-icon>
            </ion-button>
        </ion-item>
    </ion-list>

    <ion-list lines="none">
        <ion-list-header color="light">
            <ion-label>Miercoles</ion-label>
        </ion-list-header>
        <ion-item>
            <ion-label>09:00hs - 10:00hs</ion-label>
            <ion-badge color="success" slot="end">7/20</ion-badge>
        </ion-item>
        <ion-item>
            <ion-label>12:00hs - 13:00hs</ion-label>
            <ion-badge color="warning" slot="end">18/20</ion-badge>
        </ion-item>
        <ion-item>
            <ion-label>18:00hs - 20:00hs</ion-label>
            <ion-badge color="danger" slot="end">20/20</ion-badge>
        </ion-item>
    </ion-list>

    <ion-list lines="none">
        <ion-list-header color="light">
            <ion-label>Viernes</ion-label>
        </ion-list-header>
        <ion-item>
            <ion-label>09:00hs - 10:00hs</ion-label>
            <ion-badge color="success" slot="end">7/20</ion-badge>
        </ion-item>
        <ion-item>
            <ion-label>12:00hs - 13:00hs</ion-label>
            <ion-badge color="warning" slot="end">18/20</ion-badge>
        </ion-item>
        <ion-item>
            <ion-label>18:00hs - 20:00hs</ion-label>
            <ion-badge color="danger" slot="end">20/20</ion-badge>
        </ion-item>
    </ion-list>

</ion-content>