<ion-header no-border>
    <ion-toolbar color="dark">
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">

    <ion-img class="logo" src="../../assets/imagenes/SG.png"></ion-img>

    <form class="ion-margin-vertical">
        <ion-item color="dark">
            <ion-label position="floating">Usuario</ion-label>
            <ion-input></ion-input>
        </ion-item>

        <ion-item color="dark">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password"></ion-input>
        </ion-item> &nbsp;

        <ion-button type="submit" expand="block" color="secondary" shape="round">Login</ion-button>
    </form>


</ion-content>