<ion-header no-border>
    <ion-toolbar>
        <ion-title>
            Actividades
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-item [routerLink]="['/tabs/actividad']">
            <ion-label>Musculación</ion-label>
            <ion-note slot="end">Suc 1</ion-note>
        </ion-item>
        <ion-item [routerLink]="['/tabs/actividad']">
            <ion-label>Crossfit</ion-label>
            <ion-note slot="end">Suc 1</ion-note>
        </ion-item>
        <ion-item [routerLink]="['/tabs/actividad']">
            <ion-label>Boxeo</ion-label>
            <ion-note slot="end">Suc 1</ion-note>
        </ion-item>
        <ion-item [routerLink]="['/tabs/actividad']">
            <ion-label>Pilates</ion-label>
            <ion-note slot="end">Suc 1</ion-note>
        </ion-item>
        <ion-item [routerLink]="['/tabs/actividad']">
            <ion-label>Funcional</ion-label>
            <ion-note slot="end">Suc 1</ion-note>
        </ion-item>
        <ion-item [routerLink]="['/tabs/actividad']">
            <ion-label>Musculación</ion-label>
            <ion-note slot="end">Suc 2</ion-note>
        </ion-item>
        <ion-item [routerLink]="['/tabs/actividad']">
            <ion-label>Funcional</ion-label>
            <ion-note slot="end">Suc 2</ion-note>
        </ion-item>
    </ion-list>

</ion-content>