<ion-header no-border>
    <ion-toolbar>
        <ion-title>
            Mis rutinas
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-item [routerLink]="['/tabs/rutina']">
            <ion-label>Aumento de masa musuclar</ion-label>
            <ion-note slot="end">02/08/2019</ion-note>
        </ion-item>
        <ion-item [routerLink]="['/tabs/rutina']">
            <ion-label>Hipertrofia</ion-label>
            <ion-note slot="end">16/10/2019</ion-note>
        </ion-item>
        <ion-item [routerLink]="['/tabs/rutina']">
            <ion-label>Definicion</ion-label>
            <ion-note slot="end">21/11/2019</ion-note>
        </ion-item>
    </ion-list>

    <!--

    <ion-list>
        <ion-card [routerLink]="['/tabs/rutina']">
            <ion-card-header>
                <ion-card-subtitle>Aumento masa muscular</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <label>02/08/2019</label>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Hipertrofia</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <label>02/08/2019</label>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Definición</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <label>02/08/2019</label>
            </ion-card-content>
        </ion-card>
    </ion-list>

    -->



</ion-content>